.bg-db {
  background: #367E18;
  color: #ffff;
}
.bg-db:hover {
  opacity: 0.9;
  color: #ffff;
}

.bg-framework {
  background: #F57328;
  color: #ffff;
  transition: width 2s;
}
.bg-framework:hover {
  opacity: 0.9;
  color: #ffff;  
}

.btn-skills {
  border-radius: 10px 20px;  
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width:4px;
  margin: 0 10%;
  padding-top: 20px;  
}

.timeline ul li div {
  padding-left: 10px;
  white-space: nowrap;
}

.timeline ul li span {
  padding-left: 20px;
  white-space: nowrap;
  font-weight: bold;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 22px;
  bottom: 0;
  transform: translateX(-50%);  
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: inherit;
}